@font-face {
    font-family: Ubuntu;
    src: url('Ubuntu-B.ttf');

}

html, body{

    margin:0;
    padding: 5px;

    height:99%;
    font-family: Ubuntu;
    -webkit-font-smoothing: antialiased;
}
body {
    overflow:hidden;
    background-color: #DFA06E;
    /*display:block;*/
}

.stat-icon {
    max-height: 35px;
    padding: 7px;
    margin: 0 auto;
}


.disabled {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.chat-body {
    background-color: #A7CECB;
    flex-basis: auto;
    word-break: normal;
}

.user-message {
    font-size: 20px;
    color: #003049;
}

.server-message {
    font-size: 20px;
    color: red;
}

.white-container {
    background-color: #EAE2B7;
    border:1px solid #000000;
}

.soft-container {
    background-color: #86BA90;
    border:1px solid #939793;
}

.pale-container {
    background-color: #e86f59;
    border:1px solid #939793;
    stroke: #e83961;
}
.stats {
    margin: 5px;
    border-bottom: 1px solid #EFF2F6;
    box-shadow: inset 0 3px 0 0 #AFBCC6
}



#main {
    display:grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    height: 100%;
}

#left-container {
    display: flex;
    flex-direction: column-reverse;
    padding:10px;
    margin-right: 20px;
    border-radius: 10px;
    max-width: 450px;
}
    #chat-input {
        height: 10%;
        margin-top: 10px;
        padding-top: 5px;
        padding-left: 15px;
        font-size: 50px;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: pre;
        display:inline;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


    #chatbox {
        height: 90%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: flex-end;
        flex-shrink: 0;
    }





#mid-container {

}

#head-container {
    display:grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 100%;
    height: 170px;
    margin-bottom: 10px;
    width: 950px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
    #left-stats-container {
        border-top-left-radius: 10px;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;

    }
        #speed-upgrade {
            cursor: pointer;
        }

    #title {

        margin: 5px;
        font-size: 60px;
        text-align: center;
        vertical-align: middle;
        line-height: 140px;
        border:2px outset #999;
        cursor: pointer;
        background-color: #A7CECB;

    }

    #right-stats-container{

        border-top-right-radius: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%

    }
        #right-stats-container label {
            padding: 2px;
            text-align:center;
        }

    .stats .stats-text {
        line-height: 30px;
        margin: 0 auto;
    }

        .stats-container{
            display:grid;
            grid-template-columns: 50% 20% 30%;
            grid-template-rows: 100%;
            background-color: #86BA90;
            border-bottom: 1px solid black;
            border-right: 1px solid black;
        }


#right-container {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto 30% 30%;
    /*grid-template-rows: 30% 30% 40%;*/
    padding: 10px;
}
    #TODO {
        border-bottom: 2px solid black;
    }

    #online-players-flex-container{
        display:grid;
    }

        #right-container .online-player {
            display: grid;
            grid-template-columns: 20% 50% 30%;
            grid-template-rows: 50% 50%;
            background-color: #59726a;
            width: 50%;
            border: 1px solid gray;
            min-height: 25%;
            flex-wrap: wrap;
        }

        #online-players {
            background-color: #afc9bd;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: normal;
            overflow: auto;
        }

            .online-player-icon {
                max-height: 35px;
                max-width: 35px;
                padding: 7px;
                margin-left: 5px;
                margin-right: 5px;
            }
            .online-player-text {
                font-size: 15px;
            }
            #online-players::-webkit-scrollbar{
                display:none;
            }


.chat-text {
    width: 97%;
    min-height: 60px;
    height: auto;
    margin: 5px;
    display: flex;
    overflow:hidden;
    flex-shrink: 0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.icon-container {
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display:inline;
    padding-top: 4px;
}


.chat-icon {
    width: 35px;
    max-height: 35px;
}



#stats-container {
    border:1px solid #000000;
    width: 900px;
    height: 100px;
    margin-bottom: 10px;
}

#footer {
    width: 950px;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px White solid;
    user-select: none;
}




